@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.app-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 290px;
}

.app-content {
  margin-top: 15px;
  margin-bottom: 15px;
}

.content-style {
  text-align: center;
  color: black;
  background-color: rgb(197, 228, 231, .75);
}

.bg {
  background-image: url('./images/taylor-simpson-BK0y-LChktM-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.custom-nav-color {
  background-color: rgb(143, 202, 208, .75) !important;
  border-bottom: 3px solid rgb(197, 228, 231, .75);
  font-family: 'Josefin Sans', sans-serif;
}
