body, html {
  height: 100%;
}

.bg {
  background-image: url('./images/taylor-simpson-BK0y-LChktM-unsplash.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
